@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: hsl(210, 29%, 24%);
  --secondary: #d4af37;
  --accent: #d7b9c4;
  --complementary: #a9a9a9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  flex: 1;
  margin: 0px auto;
  margin-top: 80px;
  margin-bottom: 0px;
  width: 100%;
  background-color: white;
}

.ceejay-logo {
  width: 80px;
  background-color: transparent;
}

.btn {
  background-color: var(--secondary);
  outline: none;
  border: none;
  padding: 0.33em 0.5em;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.skillbar {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.aboutMe-info {
  margin: 0 5%;
  margin-bottom: 40px;
  line-height: 1.25rem;
  word-spacing: 3px;
}

.shared {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.accent {
  color: var(--secondary);
}

.image-shadow {
  box-shadow: -1px 1px 16px 3px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: -1px 1px 16px 3px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: -1px 1px 16px 3px rgba(0, 0, 0, 0.61);
}
