:root {
  /* --col-1: #ff7b00; 
  --col-2: #ff8800;
  --col-3: #ff9500;
  --col-4: #ffa200;
  --col-5: #ffaa00;
  --col-6: #ffb700;
  --col-7: #ffc300;
  --col-8: #ffd000;
  --col-9: #ffdd00;
  --col-10: #ffea00;
  --col-11: #003049;
  --col-12: #d62828;
  --col-13: #f77f00;
  --col-14: #fcbf49;
  --col-15: #eae2b7; */
  --primary: #2c3e50;
  --secondary: #d4af37;
  --accent: #d7b9c4;
  --complementary: #a9a9a9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  margin: 0px auto;
}

.main {
  /* position: relative; */
  flex: 1;
  margin: 0px auto;
  margin-top: 80px;
  margin-bottom: 0px;
  max-width: 1024px;
  width: 100%;
  background-color: white;
  /* z-index: -1; */
}

.ceejay-logo {
  width: 80px;
  background-color: transparent;
}

.section {
  margin: 15px;
  margin-bottom: 50px;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.sectionTitle::after {
  content: "";
  width: 100px;
  height: 4px;
  background-color: var(--secondary);
  display: block;
  margin: 10px auto;
  margin-top: 10px;
  border-radius: 2px;
}

.my-img-container {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 350px;
  margin: 20px auto;
  border-radius: 40px;
}

.my-intro {
  text-align: center;
  text-transform: capitalize;
}

.my-intro>p {
  font-weight: 600;
}

.my-intro>h1 {
  font-size: 2rem;
}

.my-intro>h4 {
  margin-bottom: 20px;
  text-transform: none;
}

.social-links {
  display: flex;
  justify-content: space-between;
  min-width: 240px;
  max-width: 480px;
  margin: 0 auto;
  padding: 15px 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.social-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: wave 2.5s linear infinite;
  background-color: white;
}

.social-link-icon {
  width: 20px;
  padding: 4px;
  box-sizing: content-box;
  border-radius: 25%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.social-link-name {
  font-size: 0.5rem;
  font-weight: bold;
  color: black;
}

.tag {
  font-size: 0.8rem;
  padding: 0.33em 0.5em;
  color: var(--complementary);
  background-color: var(--primary);
  border-radius: 5px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}

.btn {
  background-color: var(--secondary);
  outline: none;
  border: none;
  padding: 0.33em 0.5em;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.skillbar {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.aboutMe-info {
  margin: 0 5%;
  margin-bottom: 40px;
  line-height: 1.25rem;
  word-spacing: 3px;
}

.shared {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* position: absolute; */
  /* z-index: 1; */
}


.accent {
  color: var(--secondary);
}

@keyframes wave {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}


@media screen and (width > 768px) {
  .col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .aboutMe-info {
    margin: 0px 80px;
  }
}