.exp-opt-bar {
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: center;
}

.active-exp {
  color: var(--primary);
  background-color: var(--complementary);
}

.exp-info {
  max-width: 768px;
}

.exp-title {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.exp-company {
  font-weight: 600;
  margin-bottom: 5px;
  border: 2px solid var(--secondary);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
}

.exp-date {
  font-size: 0.75rem;
  margin-bottom: 20px;
}

.exp-duty {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
  font-size: 0.75rem;
  font-weight: 500;
}

.left-arrow {
  width: 20px;
  transform: rotateZ(-90deg);
  z-index: -1;
}

@media screen and (width > 768) {
  .exp-info {
    margin: 80px;
  }
}