.footer-container {
  width: 100%;
  background-color: var(--primary);
  height: 80px;
  display: flex;
  justify-content: center;
}

.footer-content {
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.footer-content>svg {
  width: 40px;
}

.footer-text {
  color: var(--complementary);
}
