:root {
  --col-1: #ff7b00; 
  --col-2: #ff8800;
  --col-3: #ff9500;
  --col-4: #ffa200;
  --col-5: #ffaa00;
  --col-6: #ffb700;
  --col-7: #ffc300;
  --col-8: #ffd000;
  --col-9: #ffdd00;
  --col-10: #ffea00;
  --col-11: #003049;
  --col-12: #d62828;
  --col-13: #f77f00;
  --col-14: #fcbf49;
  --col-15: #eae2b7;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  background-color: white;;
}

.ceejay-logo {
  width: 80px;
  background-color: transparent;
  /* border: 1px solid black; */
}

#ceejay-logo > path {
  fill: #fff;
}

.nav-control {
  width: 25px;
  border: 1px solid black;
  border-radius:  50%;
  padding: 3px;
  box-sizing: content-box;
}

.sidebar-container {
  border: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  transform: translateX(-100%);
  width: 60%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.7s ease-in-out;
}

.sidebarOpen {
  transform: translateX(0%);
}

.main-intro {
  border: 1px solid black;
}

.social-links {
  display: flex;
  justify-content: space-between;
}

.social-link {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social-link-icon {
  width: 25px;
  border: 1px solid black;
  padding: 5px;
  box-sizing: content-box;
  border-radius: 10px;
}

.project-img {
  width: 200px;
}

.footer-container {
  width: 100%;
  border: 1px solid #000000;
}

.shared {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  margin-top: 80px;
}




